@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('//db.onlinewebfonts.com/c/09de1f56f82933ed8124b02222d46188?family=Rio2016');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; /*para mover el modelo de caja*/
}
html, body{
    counter-reset: none;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/*----------------------HEADER------------------------*/
header{
    justify-content: center;
    width: 100%;
}
.containerHeader{
    display: flex;
    background: url(./imagenes/headerFondo.png);
    background-size: cover;   
    height: 130px;
    justify-content: flex-start;
    align-items:center;
}
.containerHeader img{
    width:210px; 
	height: 90px; 
    margin-left: 165px;
}
.containerHeader p{
    font-family: "Rio2016";
    font-size: 30px;
    color: #0089ab ;
    margin-left: 30px;
    margin-top: -60px;
}
/*----------------------MAIN------------------------*/
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
main p{
    flex-direction: column;

}
/*----------------------FOOTER------------------------*/
footer{
    display: flex;
    background-color: #00133A;
    color: white;
    font-family: 'Handlee', cursive;
    height: 270px;
    width: 100%;
    justify-content: space-around;
    padding: 20px;
}
.socialMedia{
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 80px;
}
.socialMedia p{
    font-weight: bold;
    font-size: 18px;
    width: 170px;
    text-align: center;
    padding: 8px;
}
.fity{
    border-radius: 50%;
    width: 175px;  
    flex-direction: row;
    cursor: pointer;
}
.facebook,
.instagram,
.twitter,
.youtube
{    
   height: 40px;
}
.logoFoo{
    display: flex;
    height: 160px;
    align-items: center;
}
.footerLogo{
    width: 100px;
    height: 140px;
}
.logoFoo p{
    text-align: justify;
    width: 330px;
    padding-left: 15px;
    height: 90px;
}
.copyright{ 
    display: flex;
    flex-direction: column;
    height: 180px;
    justify-content: flex-end;
}
.copyright p{
 
    width: 280px;
    text-align: center;
    font-size: 12px;

    
}